.MainUI {
  width: 100%;
  /* height: 50vh; */
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  flex-direction:column;
}

table,
td,
th {
	border: 2px solid #d9d9d9;
}

table {
	border-radius: 10px;
	border-collapse: collapse;
}

th {
	height: 30px;
	padding: 10px;
  width: 300px;
  text-align: center;
}

td {
	height: 30px;
	padding: 15px;
  text-align: center;
}

.SearchBarArea{
  height:60px;
  width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  margin-top: 10px;

}

.SearchBar {
	width: 40vw;
	height: 30px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
	background: transparent;
	font-weight: bold;
  margin-right: 40px;

}

.AddUserButton {
	width: 10vw;
	height: 50px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 14px;
	background: #9b73ee;
	font-weight: bold;
	color: white;
	margin-right: 10px;
  align-self:center;
}

.AddUserButton:hover {
	background: white;
	color: #9b73ee;
	cursor: pointer;
}

.UsersTable{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
  }
  
.UsersListArea{
  width: 100%;
  height: 89vh;
  display: flex;
  flex-direction: column;

}

#RemoveOption{
  width:100px
}

.header {
	width: 100%;
	height: 9vh;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	align-items: center;
}

.logo {
	margin-left: 4vw;
}